{% extends 'base.html.twig' %}

{% block title %}{{ content }}{% endblock %}

{% block body %}
    <h1>{{ content }}</h1>
    <h3>Paragrafs ({{ paragrafs | length }})</h3>
    <ul>
        {% for paragraf in paragrafs %}
            <li>{{ paragraf }}</li>
        {% endfor %}
    </ul>
{% endblock %}